body {
  margin: 0;
  background: linear-gradient(
    247.39deg,
    #af47ef 0%,
    rgba(24, 0, 62, 0.929213) 46.22%,
    rgba(67, 86, 135, 0.86) 100%
  );
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
